
@font-face {
  font-family: avenir;
  src: url(../fonts/AvenirLTStd-Light.otf);
}
* {
margin: 0;
padding: 0;
}
body {
  background-image: url(../images/lengover2.1.jpg);
  background-position: 0 0;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: avenir;
}
#container {
  display: none;
}
.header {
  text-align: center;
}
.header img {
  text-align: center;
  margin: auto;
  height: 200px;
  width: 320px;
  margin-top: 5px;
}
.tranny {
  width: 100%;
  height: 600px;
  background-color: rgba(2, 2, 2, 0.8);
}
/* #CECECE; */
.nav-trigger {
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 10;
}
.nav-trigger span {
    font-size: 4rem;
}
.bar {
    width: 35px;
    height: 5px;
    background-color:rgba(2, 2, 2, 0.5);
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 8px;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: rgba(2, 2, 2, 0.5);
    height: 45px;
    width: 45px;
    color: #CECECE;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: left;
    display: inline-block;
    margin-right: 10px;
    padding-top: 2px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.5);
    min-width: 160px;
    box-shadow: rgba(2, 2, 2, 0.5);
}
.dropdown-content a {
    color: #CECECE;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  color: #000000; /*sky blue*/
  background-color: #f1f1f1;
  transition: 1s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgba(2, 2, 2, 0.5);
}
.header h1 {
  font-size: 2.7em;
  color: #CECECE;
  letter-spacing: 4px;
  display: inline-block;
  margin: 0;
  padding-top: 8px;
  font-weight: bold;
  margin-right: 50px;
}
.jumbotron {
  background: rgba(2, 2, 2, 0.5);
  margin-top: 0px;
  display: block;
  height: 800px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}
video {
  width: 100%;
}
.container {
  padding-right: 0px;
}
.mates-tour {
  background: #000000;
  background-size: cover;
  height: 700px;
  width: 100%;
  text-align: center;
  color:#fff;
  overflow-y: hidden;
}
.mates-tour h2 {
  position: relative;
  top: 80px;
}
.mates-tour img {
  margin: auto;
  position: relative;
  top: 100px;
  width: 1100px;
  height: 600px;
}
#mobile-m8 {
  display: none;
}
#music-gallery {
  height: 1000px;
  width: 100%;
  background: rgba(2, 2, 2, 0.9);
  margin: auto 0;
  text-align: center;
}
#music-gallery h2 {
  color: #fff;
  position: relative;
  top: 25px;
}
#music-gallery img {
  height: 300px;
  width: 300px;
  padding: 16px;
}
#music-gallery .back {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding-top: 110px;
  text-transform: uppercase;
  font-weight: 300;
}
.back a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.back a:hover {
  color: #CC0000;
}
.row {
  height: 300px;
}
.col-md-3 {
  height: 300px;
  padding-top: 50px;
}
.col-md-3 img {
}
.col-md-4 {
  height: 300px;
}
.row.text-center > div {
    display: inline-block;
    float: none;
}
/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	}
.flip-container {
  margin-right:0;
  padding-right: 0;
}
.flip-container, .front, .back {
	width: 300px;
	height: 300px;
  padding: 0;
  margin: 0;
}
/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	-webkit-transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
}
#m8sSection {
  margin: 0;
  padding: 0;
  height: 600px;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.9); /*#000001;*/
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}
#m8sSection iframe {
  position: relative;
  padding: 10px;
  height: 300px;
  width: 150px;
  top: 20px;
}
#m8sSection h4 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 10px;
  text-align: center;
}
.mailing-list {
  height: 390px;
  background: #000000;
  color: #fff;
  text-align: center;
  font-family: avenir;
}
.mailing-list .container {
  padding-top: 50px;
}
.mailing-list .container label {
  display: block /* Puts Name above form box */
}
.mc-field-group {
  margin-bottom: 15px;
  width: 800px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.mc-field-group .row {
  margin-top: 20px;
  text-align: center;
}
#mce-FNAME{
  width: 600px;
  background: transparent;
  border-style: none;
  border-bottom: 1px solid #fff;
}
#mce-EMAIL {
  width: 600px;
  background: transparent;
  border-style: none;
  border-bottom: 1px solid #fff;
}
.clear .button {
  background: #fff;
  color: #000000;
  font-family: avenir;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 180px;
  margin-top: 10px
}
#mc_embed_signup div.mce_inline_error {
    margin: 0 0 1em 0;
    padding: 5px 10px;
    background-color: #6B0505;
    font-weight: bold;
    z-index: 1;
    color: #fff;
    width: 800px;
    padding-top: 10px;
}
.news {
  height: 450px;
  background: #000000;
  text-align: center;
  overflow: hidden;
}
.news h2 {
  color: #fff;
  padding: 40px;
}
.tintup a {
  display: none;
}
.twitter-timeline {
  height: 600px;
}
.dates {
  height: 1200px;
  background: #000000; /*#000001;*/
  width: 100%;
  overflow: hidden;
}
.dates img {
  margin-top: px;
  height: 700px;
  width: 700px;
  margin-right: 100px;
}
.dates  {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.dates h2 {
  padding-top: 40px;
  padding-bottom: 60px;
  color: #fff;
}
.dates .container ul li {
  display: inline-block;
  padding: 15px;
  letter-spacing: 1px;
}
.dates ul li span:after {
    content:'|';
    display: inline-block;
    margin: 0 10px;
}
.dates ul li span:last-child:after {
    content:'';
}
.contact {
  display: inline-block;
  height: 250px;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}
#social-mobile2 {
  display: none;
}
#social {
    width: 800px;
    margin: 40px auto 0 auto;
    overflow:hidden;
    margin-top: 80px;
    /*padding-left: 70px;*/
}
#social a {
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    cursor: pointer;
    width:72px;
    height:72px;
    display:inline-block;
    text-indent:-9999px;
    margin: 28px;
}
#social a:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.facebook {
    background: url(../images/facebookTRANS.png);
}
.twitter {
    background: url(../images/twittertrans2.png);
}
.soundcloud {
  background: url(../images/soundcloud.png);
}
.tube {
  background: url(../images/whiteyoutube.png);
}
.instagram {
    background: url(../images/instagramTRANS.png);
}
.mail {
    background: url(../images/mailtrans2.png);
}

@media screen and (max-width: 500px) {

    .dates ul li {
      /*  border-bottom:1px dashed; */
    }

    .dates ul li:last-child {
        border-bottom:0;
    }

    .dates ul li span {
        display:block;
    }

    .dates ul li span:after {
        content:'';
    }

    .dates ul li span:last-child {
        margin-top:10px;
    }

    .dates .gig-date {
        font-size:3rem;
        margin-bottom:5px;
    }

    .dates .gig-address {
        font-size:2rem;
        padding-bottom: 5px;
    }
}

 .btn  {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: black;
  background-color: #fff;
  font-size: 15px;
}
.btn a:hover {
  color: #ff0000;
  text-decoration: none;
  background-color: #fff;
}
.contact ul {
  margin-top: 150px;
  color: #fff;
  text-transform: uppercase;
}
.contact ul li {
  display: inline;
  font-size: 17px;
  padding: 20px;
}
.contact ul li a {
  color: #fff;
  text-decoration: none;
}
.contact ul li a:hover {
  color: #b20000;
  text-decoration: none;
  cursor: pointer;
}

/* LARGER DESKTOPS */

@media only screen
   and (max-width : 3840px)
   and (max-height : 2160px) {
   /* Styles here */
   .jumbotron {
     height: 1500px;
     margin-top: 1800px;
   }
   .tranny {
     display: none;
   }
   .header img {
     height: 400px;
     width: 620px;
   }
   #m8sSection iframe {
     width: 700px;
   }

}

@media screen and (max-width: 3300px) and (max-height: 2000px) {

  .jumbotron {
    height: 1500px;
    margin-top: 1800px;
  }
  .tranny {
    display: none;
  }
  .header img {
    height: 400px;
    width: 620px;
  }
}

@media screen and (max-width: 1944px) and (max-height: 1080px) {

  .tranny {
    display: none;
  }
  .jumbotron {
    height: 800px;
    margin-top: 900px;
  }
  #m8sSection iframe {
    width: 650px;
    /*left: 650px;*/
  }
  .header img {
    height: 200px;
    width: 320px;
  }
}

@media screen and (max-width: 1920px) and (max-height: 800px) {

  #m8sSection iframe {
    width: 550px;
  }
  .dates {
    height: 1250px;
  }
  .header img {
    height: 200px;
    width: 320px;
  }
}

/* DESKTOPS  2 */

@media screen and (max-width: 1495px) and (max-height: 900px) {

  body {
    background-size: cover;
  }
  .dates {
    height: 1250px;
  }
  .jumbotron {
    margin-top: 0px;
  }
  .tranny {
    display: block;
  }
  #m8sSection iframe {
    width: 620px;
    /*left: 490px;*/
  }
  .header img {
    text-align: center;
    margin: auto;
    height: 200px;
    width: 320px;
    margin-top: 5px;
  }
}

@media only screen
   and (max-width : 1440px)
   and (max-height : 2560px) {
   /* GALAXY S7 EDGE NEED CONFIRMATION */
   body {
   background-size: contain;
  }
  #music-gallery {
    background: #000000;
  }
  #m8sSection {
    background: #000000;
  }
}

@media screen and (max-width: 1440px) and (max-height: 900px){

  body {
    background-size: cover;
  }
  #social {
    position: relative;
  }
  .jumbotron {
    margin-top: 0;
  }
  #m8sSection iframe {
      /*left: 450px;*/
  }
  #music-gallery .container {
    position: relative;
    right: 15px;
  }
  #music-gallery {
      background: rgba(2, 2, 2, 0.9);
  }
  #m8sSection {
      background: rgba(2, 2, 2, 0.9);
  }
}
@media screen and (max-width: 1366px) and (max-height: 1024px) {

  body {
    background-size: cover;
  }
}
@media screen and (max-width: 1350px) and (max-height: 768px) {

  body {
    background-size: cover;
  }
  .tranny {
    display: block;
  }
  .jumbotron {
    margin-top: 0px;
  }
  #m8sSection iframe {
    /*left: 440px;*/
  }
  .jumbotron {
    height: 740px;
  }
}
@media screen and (max-width: 1280px) and (max-height: 1024px) {

 #m8sSection iframe {
    top: -10px;
    width: 600px;
  }
  body {
    background-size: cover;
  }
  .dates {
    height: 1200px;
  }
  #m8sSection img {
    left: 0px;
  }
  #music-gallery {
      background: rgba(2, 2, 2, 0.9);
  }
  #m8sSection {
      background: rgba(2, 2, 2, 0.9);
  }
}
@media only screen
   and (max-width : 1080px)
   and (max-height : 1920px) {
   /* Styles here */
   body {
     background-size: cover;
   }
   .jumbotron {
     height: 600px;
   }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {

  body {
    background-size: cover;
  }
  .tranny {
    display: none;
  }
  .dates {
    margin-top: 470px;
  }
  .mailing-list {
    margin-top: 0px;
  }
  .header img {
    height: 200px;
    width: 320px;
  }
}

/* IPAD PRO */

@media screen and (max-width: 1024px) and (max-height: 1366px) {

  body {
    background-size: contain;
  }
  .dates {
    height: 880px;
  }
  #m8sSection iframe {
    top: 50px;
    width: 640px;
  }
}
/* nexus 10 hori */
@media screen and (max-width: 1280px) and (min-width: 800px) {

  #m8section: iframe {
    /*left: 20px;*/
  }
  .jumbotron {
    height: 640px;
  }
}

@media screen and (max-width: 1030px) {

  .jumbotron {
    display: none;
  }
  video {
    display: none;
  }
  .dates .container ul {
    color: #fff;
    font-size: 1.063em;
    border-bottom: 1px solid #fff;
  }
  #m8sSection {
      margin-top: 0px;
  }
  .mates-tour {
    display: none;
  }
  #music-gallery {
    display: none;
  }


@media (max-width: 1024px) and (max-height: 900px) {

  #m8sSection {
    height: 800px;
  }
  #m8sSection img {
    display: none;
  }
  #m8sSection iframe {

    /*left: 60px;*/
    height: 380px;
    width: 450px;
  }
  .underline {
    display: none;
  }
  .contact ul {
    margin-top: 50px;
}
}

@media (max-device-width: 800px) and (orientation: portrait) and (min-resolution: 169dpi) {

  .tranny {
    display: none;
  }
  #m8sSection {
    height: 800px;
  }

  #m8sSection iframe {
    /*left: 25px;*/
    height: 380px;
    width: 500px;
  }

  #m8sSection img {
    display: none;
  }
}

/* ipad horizontal */
@media screen and (max-width: 1030px) and (max-height: 768px) {

  body {
    background-attachment: inherit;
    background-size: contain;
  }
  .header {
    display: inline-block;
    margin-left: 400px;
  }
  #container {
    display: inline-block;
    background-image:url(../images/phoneleng.jpg);
    background-attachment:scroll;
    background-position: left center;
    background-size:cover;
    width:100%;
    height:800px;
    will-change: transform; // creates a new paint layer
    z-index: -1;
    display: none;
}
  .tranny {
    display: none;
  }

  #container img {
    height: 200px;
    width: 290px;
    margin-left: 400px;
  }
  .mailing-list {

  }
  #music-gallery {
    display: block;
    background: #000000;
  }
  #music-gallery img {
    height: 240px;
    width: 240px;
    padding: 3px;
  }
  .flip-container, .front, .back {
    width: 250px;
  }

  #m8sSection {
    height: 650px;
    background: #000000;
  }
  .dates {
    height: 1200px;
    background: #000000;
  }
  #m8sSection iframe {
    top: 60px;
    /*left: 280px;*/
    height: 360px;
    width: 600px;
  }

  #m8sSection img {
    display: none;
  }

 .underline {
   display: none;
 }

 .contact ul {
   margin-top: 50px;
 }
 .header img {
    position: relative;
    right: -10px;
    height: 120px;
    width: 200px;
  }
}

/* ipad mini hori */

  @media screen and (max-width: 1024px) and (max-height: 768px) {

    .mailing-list {

    }
}


/* nexus 7 */

@media screen and (max-width: 960px) and (max-height: 600px) {

  #m8sSection iframe {
    width: 450px;
  }
  #music-gallery {
    display: none;
  }
  .dates {
    height: 1200px;
  }
}

/* NEXUS 10 */

@media screen and (max-width: 800px) and (max-height: 1280px) {

  .header img {
    height: 130px;
    width: 200px;
  }
  .mailing-list {
    overflow: hidden;
    margin-bottom: 0px;
  }
  .dates {
    background: #000000;
    height: 1200px;
    margin-top: 350px;
  }
  .dates h2 {
    padding-top: 20px;
  }
  body {
    background-size: contain;
    background-attachment: inherit;
  }
  #m8sSection {
    background: #000000;
    margin-top: 0px;
    height: 700px;
  }
  #m8sSection iframe {
    width: 700px;
    /*left: 50px;*/
  }
  .contact ul {
    margin-top: 75px;
  }
  .mc-field-group {
    width:auto;
  }
  #mce-FNAME {
    width: 500px;
  }
  #mce-EMAIL {
    width: 500px;
  }
  .dates {
    height: 1200px;
  }
  .dates .container ul {
    border-bottom: 0px;
  }

}
/* ipad vertical */
@media screen and (max-width: 800px) and (max-height: 1024px) {

.mailing-list {

}
.tranny {
  display: none;
}
.mc-field-group {
  width:auto;
}
#mce-FNAME {
  width: 300px;
}
#mce-EMAIL {
  width: 300px;
}
.dates {
  height: 1200px;
  margin-top: 400px;
}
#container {
 display: none;
}
#container img {
  /*height: 200px;
  width: 290px;*/
}
#bit-widget-0 {
  font-family: avenir;
}
.header img  {
  height: 80px;
  width: 140px;
}
.header .dropdown {
  display: none;

}
  /*#m8sSection {
  margin-top: 370px;
  height: 500px;
  background: #000000;
}*/

.dates h2 {
  padding-bottom: 15px;
}
.dates .container ul {
  border-bottom: 0px;
}
#music-gallery {
  display: none;

}
  #m8sSection iframe {
    position: relative;
    top: 60px;
    height: 380px;
    width: 700px;
    /*left: 80px;*/
  }
  .underline {
    display: none;
  }
  .contact ul {
    margin-top: 35px;
  }
  #social {
  width: 100%;
  padding-left: 25px;
  }
  #social a {
    margin: 20px;
    margin-top: 90px
  }
#social-mobile2 {
  display: none;
}
 }

/* ipad mini vertical */

@media screen and (max-width: 768px) and (max-height: 1024px) {

  .mailing-list {

  }
  #m8sSection iframe {
    padding-right: 0px;
    width: 600px;
  }

}
/* Iphone 6 + hori */
@media screen and (max-width: 736px) and (max-height: 414px) {

.header {
  margin-left: 275px;
}
/*#m8sSection {
  margin-top: 355px;
}*/
#social {
  display: block;
  margin-top: 22px;
}
.dates {
    height: 1200px;
}
}


/* NEXUS 6 */

@media screen and (max-width: 732px) and (max-height: 412px) {

  .mailing-list .container {
    padding-top: 30px;
  }
}

/* NEXUS 7 */

@media screen and (max-width: 600px) and (max-height: 960px) {

  .mailing-list {
    height: 300px;
  }
  .news h2 {
    height: 390px;
    color: #fff;
    padding: 20px;
  }
  #m8sSection {
    height: 790px;
  }
  #m8sSection iframe {
    /*left: 5px;*/
    width: 400px;
  }
  .dates {
    height: 1200px;
    margin-top: 300px;
  }
  .news {
    display: none;
  }
  #social {
    margin-top: 90px;
    padding-right: 30px;
  }
  #social a {
    margin: 25px;
  }
}

/* Iphone LRG Horizontal */

@media screen and (max-width: 667px) and (max-height: 375px) {

  .header {
    margin-left: 250px;
  }
  .header img {
    height: 80px;
    width: 130px;
    right: -19px;
  }
  #container img {
    height: 100px;
    width: 150px;
    margin-left: 260px;
    margin-top: 8px;
  }
  .mailing-list {
    margin-top: 0px;
  }
  .news {
    display: none;
  }
  #container {
    background-image: url(phoneleng.jpg);
  }
  #m8sSection {
    background: #000000;
    height: 630px;
  }
  .contact {
    height: 200px;
  }
  .dates {
    height: 1110px;
    background: #000000;
    margin-top: 350px;
  }
  #m8sSection iframe {
    width: 550px;
    /*left: 99px;*/
  }
  #social {
    padding-left: 15px;
    margin-top: 70px;
  }
  #social a {
    margin: 15px;
  }
}


/* IPHONE 6 HORI */

@media screen and (max-width: 670px) and (max-height: 320px) {

  .header {
    display: inline-block;
  }

  #container img {
    display: inline-block;
    margin-left: 200px;
  }
  #m8sSection iframe {
    width: 280px;
    /*left: 5px;*/
  }
  .contact ul {
    margin-top: 20px;
  }
  .dates {
    height: 1200px;
    margin-top: 380px;
  }
  .dates .container ul {
      border-bottom: 1px solid #b20000;
  }
  .dates .container {
    height: 600px;
  }
  .mailing-list {
    margin-top: 0px;
  }
}

/*GLAXY HORI */

@media screen and (max-width: 640px) and (max-height: 360px) {

  #m8sSection {
    height: 700px;
  }
  #m8sSection iframe {
    /*left: 15px;*/
  }
}

/* IPHONE 5 HORI */

@media screen and (max-width: 568px) and (max-height: 320px) {

  .header img {
    margin-right: 30px;
  }
  #m8sSection {
    margin-top: 0px;
  }
  .dates {
    height: 1200px;
  }
  #container {
    height: 800px;
    background-attachment: inherit;
    background-size: cover;
  }
  #m8sSection iframe {
    width: 500px;
    /*left: 85px;*/
  }
  .news {
    display: none;
  }
  #social {
    padding-right: 10px;
    margin-top: 85px;
  }
  .mailing-list {
    margin-top: 200px;
  }
  #social a {
    margin: 6px;
  }
  .header img {
    position: relative;
    right: 55px;
  }
}

/* SMARTPHONE VERT LRG */
@media screen and (max-width: 500px) {

  .header {
    display: none;
  }
  #m8sSection {
    height: 100%;
    width: auto;
    margin-top: 0px;
    /* Color If Fixed Background no work*/
    background: #000000;
  }
  #m8sSection iframe {
    display: block;
    top: 6px;
    left: 0px;
    padding-top: 5px;
    padding: 15px;
    width: 300px;
    height: 380px;
    margin: auto;
    border: none;
  }
  #container {
    display: inline-block;
  }
  #container {
    height: 800px;
    background-attachment: inherit;
    background-size: cover;
  }
  .mailing-list {
    margin-top: 0px;
  }
  #mce-EMAIL {
    width: 300px;
  }
  #mce-FNAME {
    width: 300px;
  }
  #mc-field-group {
    margin: auto;
  }
  #container img {
    margin: auto;
    height: 100px;
    width: 150px;
    margin-top: 5px;
    /*margin-left: 80px;*/
  }
  .bar {
    display: none;
  }
  .dates .container {
    padding-left: 0px;
  }
  .mailing-list {
    height: 370px;
  }
  .mailing-list .container {
    padding-left: 0px;
  }
  .news {
    display: none;
  }
  .dates {
    margin-top: 0px;
    font-size: 13px;
    width: auto;
    height: 1300px;
    /* Color If Fixed Background no work*/
    background: #000000;
  }
  .dates h2 {
    padding-bottom: 30px;
  }
  .contact {
    height: 100%;
  }
  .contact ul {
    margin-top: 25px;
  }
  .contact ul li {
    padding: 18.2px;
  }
  .dates .container ul {
      border-bottom: 0px; /*1px solid #b20000;*/
  }
  .underline {
    display: none;
  }
  .btn {
    margin-left: 0px;
    margin-right: -10px;
  }
  #social {
    display: none;
  }
  #mobile-m8 {
    background: #000000;
    text-align: center;
    display: block;
    height: 430px;
  }
  #mobile-m8 img {
    position: relative;
    top: 40px;
    height: 400px;
    width: 350px;
  }
  #social-mobile2 {
    display: inline;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  #social-mobile2 .container .row .col-xs-6 ul {
    position: relative;
  }
  #social-mobile2 ul li {
    text-decoration: none;
  }
  #social-mobile2 a {
    text-transform: uppercase;
    color: #fff;
    padding: 0px;
  }
}

@media screen and (max-width: 420px) {

  .contact ul {
      margin-top: 25px;

}
@media screen and (max-width: 414px) and (max-height: 736px) {

  .mailing-list {
    height: 320px;
    margin-top: 0px
  }
  #m8sSection iframe {
    width: 360px;
    top: -15px;
  }
  #mobile-m8 {
    height: 440px;
  }
}

/* IPHONE 6 (ME) */

@media screen and (max-width: 375px) and (max-height: 667px) {

  #m8sSection iframe {
    top: 4px;
  }
  .dates {
    height: 1350px;
  }


}

/* galaxy s7 edge */

@media screen and (max-width: 360px) and (max-height: 640px) {

}

@media screen and (max-width: 320px) and (max-height: 568px) {

  #container {
    background-position: center;
  }
  .header {
    display: none;
  }
  #mobile-m8 {
    height: 400px;
  }
  #mobile-m8 img {
    width: 300px;
    height: 330px;
  }
  .contact ul li {
    padding: 10px;
  }
  #m8sSection iframe {
    width: 300px;
  }
}
