/*font-family: manifesto;
src: url(MANIFESTO.ttf);*/


@font-face {
    font-family: manifesto;
    src: url(../fonts/MANIFESTO.ttf);
}
* {
margin: 0;
padding: 0;
}
body {
  background: url(../images/lengover2.1.jpg) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: manifesto;
}
#container {
  display: none;
}

.header {
  text-align: center;
}
.header img {
  margin: auto;
  height: 200px;
  width: 320px;
  margin-top: 5px;
}
/* #CECECE; */

.nav-trigger {
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 10;
}

.nav-trigger span {
    font-size: 4rem;
}

.bar {
    width: 35px;
    height: 5px;
    background-color:rgba(2, 2, 2, 0.5);
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 8px;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: rgba(2, 2, 2, 0.5);
    height: 45px;
    width: 45px;
    color: #CECECE;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: left;
    display: inline-block;
    margin-right: 10px;
    padding-top: 2px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.5);
    min-width: 160px;
    box-shadow: rgba(2, 2, 2, 0.5);
}
.dropdown-content a {
    color: #CECECE;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  color: #ff0000; /*sky blue*/
  background-color: #f1f1f1;
  transition: 1s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgba(2, 2, 2, 0.5);
}
/* rgba(2, 2, 2, 0.5) rgba(83, 83, 83, 0.1); */
/*.header {
  background:  rgba(2, 2, 2, 0.5);
  height: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
/* #CECECE; #535353;*/
.header h1 {
  font-size: 2.7em;
  color: #CECECE;
  letter-spacing: 4px;
  display: inline-block;
  margin: 0;
  padding-top: 8px;
  font-weight: bold;
  margin-right: 50px;
}
/*.logo img {
  height: 50px;
  width: 50px;
}*/
.jumbotron {
  background: rgba(2, 2, 2, 0.5);
  margin-top: 800px;
  display: block;
  height: 800px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}
video {
  width: 100%;
}
#m8sSection {
  margin: 0;
  padding: 0;
  height: 550px;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.5); /*#000001;*/
  padding-top: 0;
  margin-top: 0;
}
#m8sSection iframe {
  padding: 10px;
  position: relative;
  height: 450px;
  width: 620px;
  top: 50px;
  left: 105px;
}
#m8sSection img {
  display: none;
  position: relative;
  padding: 20px;
  top: 60px;
  left: 112px;
  height: 400px;
  width: 400px;
  margin-bottom: 420px;
}
.dates {
  height: 700px;
  background: rgba(2, 2, 2, 0.9); /*#000001;*/
  width: 100%;
  overflow: hidden;
}
.dates img {
  margin-top: px;
  height: 700px;
  width: 700px;
  margin-right: 100px;
}
.dates  {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.dates h2 {
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 35px;
  color: #fff;
}

.dates .container ul li {
  display: inline-block;
  padding: 15px;
  letter-spacing: 1px;
}

.dates ul li span:after {
    content:'|';
    display: inline-block;
    margin: 0 10px;
}

.dates ul li span:last-child:after {
    content:'';
}

@media screen and (max-width: 500px) {

    .dates ul li {
      /*  border-bottom:1px dashed; */
    }

    .dates ul li:last-child {
        border-bottom:0;
    }

    .dates ul li span {
        display:block;
    }

    .dates ul li span:after {
        content:'';
    }

    .dates ul li span:last-child {
        margin-top:10px;
    }

    .dates .gig-date {
        font-size:3rem;
        margin-bottom:5px;
    }

    .dates .gig-address {
        font-size:2rem;
        padding-bottom: 5px;
    }
}

 .btn  {
  /*margin-left: 480px;
  margin-top: 30px;*/
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: black;
  background-color: #fff;
  font-size: 15px;
}
.btn a:hover {
  color: #ff0000;
  text-decoration: none;
  background-color: #fff;
}
.footer ul {
  margin-top: 150px;
  color: #fff;
  text-transform: uppercase;
}
.footer ul li {
  display: inline;
  font-size: 17px;
  padding: 20px;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
}
.footer ul li a:hover {
  color: #b20000;
  text-decoration: none;
  cursor: pointer;
}

/* IMAC *//*
@media screen and (max-width: 2560px) {

  #m8sSection iframe {
    width: 850px;
    left: 200px;
  }
  #m8sSection img {
    height: 500px;
    width: 500px;
    left: 200px;
  }
}/*


/* DESKTOPS */
@media (max-width: 1280px) and (min-width: 1024px) {

 #m8sSection {
   height: 500px;
 }
 #m8sSection iframe {
    top: -10px;
    left: 20px;
  }
  #m8sSection img {
    left: 0px;
  }
}

@media screen and (max-width: 1030px) {

  .jumbotron {
    display: none;
  }
  video {
    display: none;
  }
  .dates .container ul {
    color: #fff;
    font-size: 1.063em;
    border-bottom: 1px solid #fff;
  }
  #m8sSection {
      margin-top: 600px;
  }

/*.btn {
    margin-left: 400px;
  }
}*/

@media (max-width: 1024px) and (max-height: 834px) {

  #m8sSection {
    height: 500px;
  }
  #m8sSection img {
    display: none;
  }
  #m8sSection iframe {
    top: 0px;
    left: 60px;
    height: 380px;
    width: 450px;
  }
  .underline {
    display: none;
  }
  .footer ul {
    margin-top: 50px;
}
}


@media (max-device-width: 800px) and (orientation: portrait) and (min-resolution: 169dpi) {

  #m8sSection {
    height: 500px;
  }

  #m8sSection iframe {
    left: 5px;
    height: 380px;
    width: 500px;
  }

  #m8sSection img {
    display: none;
  }
}

/* ipad horizontal */
@media screen and (max-width: 1030px) and (max-height: 768px) {

  #container {
    display: inline-block;
    background-image:url("../images/phoneleng.jpg");
    background-attachment:scroll;
    background position:left top;
    background-size:cover;
    width:100%;
    height:800px;
    will-change: transform; // creates a new paint layer
    z-index: -1;

}
  #container img {
    height: 200px;
    width: 290px;
    margin-left: 400px;
  }
  .header {
    display: none;
  }
  #m8sSection {
    margin-top: 0px;
    background: #000000;
  }
  .dates {
    background: #000000;
  }
  #m8sSection {
    height: 500px;
  }

  #m8sSection iframe {
    top: 60px;
    left: 5px;
    height: 380px;
    width: 500px;
  }

  #m8sSection img {
    display: none;
  }

 .underline {
   display: none;
 }

 .footer ul {
   margin-top: 50px;
 }
}

/* nexus 7 */

@media screen and (max-width: 960px) and (max-height: 600px) {

  #m8sSection iframe {
    width: 450px;
    left: 25px;
  }
  .dates {
    height: 600px;
  }
}

/* NEXUS 10 */

@media screen and (max-width: 800px) and (max-height: 1280px) {

  #m8sSection iframe {
    width: 380px;
    left: 14px;
  }
}
/* ipad vertical */
@media screen and (max-width: 800px) and (max-height: 1024px) {

  #container {
  display: inline-block;
<<<<<<< HEAD
  background-image:url("../images/phoneleng.jpg");
=======
  background-image:url("../images/phoneleng.jpg");
>>>>>>> f6784d9b894f4170c43f4673c30e453a1b5dddcc
  background-attachment:scroll;
  background position:left top;
  background-size:cover;
  width:100%;
  height:800px;
}
#container img {
  height: 200px;
  width: 290px;
}
.header img  {
  display: none;
}
.header .dropdown {
  display: none;

}
  #m8sSection {
  margin-top: 0px;
  height: 500px;
  background: #000000;
}
.dates {
  background: #000000;
  height: 600px;
}
  #m8sSection iframe {
    top: 60px;
    height: 380px;
    width: 300px;
    left: 85px;
    margin: auto;
  }
  .underline {
    display: none;
  }
  .footer ul {
    margin-top: 50px;
  }
}

/* NEXUS 7 */

@media screen and (max-width: 600px) and (max-height: 960px) {

  #m8sSection iframe {
    left: 5px;
    width: 295px;
  }
}
/* Iphone LRG Horizontal */
@media screen and (max-width: 667px) and (max-height: 375px) {

  #container img {
    height: 100px;
    width: 150px;
    margin-left: 260px;
    margin-top: 8px;
  }

  #container {
    background-image: url(../images/lengcover2.jpg);
    background-size: contain;
  }
  #m8sSection {
    background: #000000;
  }
  .dates {
    height: 550px;
    background: #000000;
  }
  #m8sSection iframe {
    left: 33px;
  }
}

/*GLAXY HORI */

@media screen and (max-width: 640px) and (max-height: 360px) {

  #m8sSection iframe {
    left: 15px;
}

}
/* IPHONE 5 HORI */

@media screen and (max-width: 570px) and (max-height: 320px) {

  #container img {
    margin-left: 200px;
  }
  #m8sSection iframe {
    width: 280px;
    left: 5px;
  }
  .footer ul {
    margin-top: 20px;
  }
  .dates {
    height: 600px;
  }
  .dates .container ul {
      border-bottom: 1px solid #b20000;
  }
}

/* SMARTPHONE VERT LRG */

@media screen and (max-width: 500px) {

  #m8sSection {
    height: 100%;
    width: auto;
    /* Color If Fixed Background no work*/
    background: #000000;
  }
  #m8sSection iframe {
    display: block;
    left: 0px;
    top: 0px;
    padding-top: 5px;
    padding: 15px;
    width: 300px;
    height: 380px;
    margin: auto;
    border: none;
  }
  #container {
    height: 800px;
  }
  #container img {
    margin: auto;
    height: 100px;
    width: 150px;
    margin-top: 5px;
    /*margin-left: 80px;*/
  }
  .bar {
    display: none;
  }
  .dates {
    font-size: 13px;
    width: auto;
    height: 100%;
    /* Color If Fixed Background no work*/
    background: #000000;
  }
  .dates h2 {
    padding-bottom: 30px;
  }
  .footer {
    width: auto;
    height: 100%;
  }
  .footer ul {
    margin-top: 25px;
    margin-right: 9px;
  }
  .dates .container ul {
      border-bottom: 1px solid #b20000;
  }
  .underline {
    display: none;
  }
  .btn {
    margin-left: 0px;
    margin-right: -10px;
  }
}
/*
@media screen and (max-width: 500px) {

  .header img {
  margin-right: 0px;
  }
  .jumbotron {
    display: none;
  }
  #m8sSection {
  }
  video {
    display: none;
  }
  body {
    background: none;
  }
  .dates {
    margin-top: 600px;
  }
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 400px) {

 body {
   font-size: 13px;
 }
.dates {
  margin-top: 600px;
}
body {
  background: #000000;
}
.header img {
    margin-right: 6px;
  }
}
